= stylesheet_link_tag 'map'

#rooms_game

#game_pane
  %table#map
    - @map.each_with_index do |line, y|
      %tr{:pos => y}
        - line.each_with_index do |e, x|
          %td{:class => e, :pos => x}
  #console

#controll_pane
  #notification
    .top
      .avatar= image_tag ""
      .info
        .team
        .name
        .desc
        .current_health= ""
        .current_attack_length= ""
        .current_speed= ""
    .bottom
      .current_attack= ""
      .current_defense= ""

  #players_status
    .player_info{:pos => 1, :player => 0}
      .player_header
        .player_name
        = link_to "准备完毕", "#", :class => "ready hidden"
    .player_info{:pos => 2, :player => 1}
      .player_header
        .player_name
        = link_to "准备完毕", "#", :class => "ready hidden"

#template
  %script{:type => "text/html", :id => "hero_status_template"}
    .hero_status{:pos => "{{pos}}"}
      = link_to "#" do 
        %img{:src => "{{avatar}}"}
        %div= "{{name}}"
        %div= "{{current_health}}/{{health}}"
        %div= "技能: 未释放"
  %script{:type => "text/html", :id => "hero_in_map_template"}
    = link_to "#", :class => "hero {{moved_class}}", :player => "{{player_id}}", :hero => "{{pos}}" do
      %span.health= "{{current_health}}/{{health}}"
      %img{:src => "{{avatar}}"}
      .speed.hidden= "{{current_speed}}"
      .attack_length.hidden= "{{current_attack_length}}"
      .attack_type.hidden= "{{attack_type}}"

#menu.hidden
  %a.attack{:href => "#"} Attack
  %a.skill{:href =>"#"} GeziSkill
  %a.standby{:href =>"#"} Standby

#params
  #current_user_id.hidden= current_user.id
