#rooms_index
%table
  - @rooms.each do |room|
    %tr
      %td= room.id
      %td= link_to room.name, room_path(room.id)
      %td= "#{room.players.count} / 2"
      %td= room.status
      %td= link_to "join", join_room_path(room.id)

= form_tag rooms_path, :method => "post" do
  = submit_tag "+"

#params
  #current_user_id.hidden= current_user.id
