<!DOCTYPE html>
<html>
<head>
  <title>GwgOffice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%- socket_domain = request.base_url.sub "http://", "ws://" %>
<%- socket_domain = socket_domain.sub ":3000", ":4040" %>
<div id="socket_domain" class="hidden"><%= socket_domain %></div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
