<!DOCTYPE html>
<html>
<head>
  <title>GwgOffice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="socket_domain" class="hidden"><%= request.domain %></div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
